/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

h1, h3 {
    text-align: center;
    color: #343a40;
    margin-bottom: 20px;
}

.metrics {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.metrics h3 {
    margin: 0;
    font-size: 1.2em;
    color: #495057;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

table thead {
    background-color: #343a40;
    color: #ffffff;
}

table th, table td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

table tr:hover {
    background-color: #f1f3f5;
}

table th {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

table tbody tr:nth-child(odd) {
    background-color: #f8f9fa;
}

button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1em;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#charts {
    width: 80%;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
    width: 80%;
    margin: 20px auto;
    padding: 0;
    list-style-type: none;
}

ul li {
    padding: 10px 15px;
    background-color: #ffffff;
    margin-bottom: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1em;
}

ul li:nth-child(odd) {
    background-color: #f8f9fa;
}

footer {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    background-color: #343a40;
    color: #ffffff;
    font-size: 0.9em;
}

footer a {
    color: #17a2b8;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
